@tailwind base;
@tailwind components;
@tailwind utilities;
 

@font-face {
  font-family:Roboto;
  src:url('/assets/fonts/Roboto-Light.ttf') format("truetype");
  font-weight:400;
font-size:14;
font-display: swap;
}
 
body {
font-family:Roboto;
font-weight:400;
font-size:14;


}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
